@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  /*background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}
header a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  padding: 0px 20px;
}
.nav__links a {
  text-decoration: none;
}

.landing {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing .header h1 {
  font-family: "Poppins";
  padding: 0px 9%;
  color: white;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 900;
}
.landing .header .buttons {
  display: flexbox;
  padding: 30px 9%;
  
}
.landing .header .buttons a {
  font-family: "Montserrat";
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.landing .header .buttons .filled {
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #e63946;
  border-radius: 40px;
}
.landing .header .buttons .unfilled {
  padding: 10px 20px;
  background-color: none;
  border-radius: 40px;
  border: 2px solid #e63946;
}
.anim {
  width: 400px;
  display: flex;
  padding-right: 50px;
  margin-top: 50px;
  justify-content: flex-end;
  background: transparent;
}
h1{
  font-family: "Poppins";
  padding:0px 5% ;
  color: white;
  margin-top: 150px;
  font-size: 3em;
  font-weight: 900;
}

.mps{
  position: relative;
  display: flex;
  padding: 10px 5% 150px 5%;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}

.mp1-text, .mp2-text, .mp3-text p{
  color: #ffffff;
}

.mps .mp1 .mp1-text p{
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 900;
  font-family: "PT Sans";
  text-decoration: none;
}
.mps .mp1 .image:hover{
  box-shadow: 0px 0px 30px white;
}
.mps .mp2 .image:hover{
  box-shadow: 0px 0px 30px white;
}
.mps .mp3 .image:hover{
  box-shadow: 0px 0px 30px white;
}

.mps .mp2 .mp2-text p{
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  font-family: "PT Sans";
}
.mps .mp3 .mp3-text p{
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  font-family: "PT Sans";
}
.bio{
  display: flex;
  margin: 150px 10%;
  justify-content: space-between;
  align-items: center;
}
.bio p{
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  font-family: "PT Sans";
  max-width: 60%;
  color: #ffffff;
}

.contact{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
.contact a{
  margin: 20px;
}

